<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <title>{{ title or site.title }}</title>
    <style>{{ css | cssmin | safe }}</style>
</head>
<body>
    <header>{% include "partials/header.njk" %}</header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>{% include "partials/footer.njk" %}</footer>
</body>
</html>

{% block content %}
<div class="post-list">
  <ul>
  {% for post in pagedPosts %}
    <li>
      <a href="/{{ post.slug }}/">
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
