---
layout: base
title: Listening
permalink: /listening/
---

{% set listeningPosts = collections.posts | withAnyTagSlugs("listening,now-playing") | byPublishedDateDesc %}

<section class="section-block">
  <h1 class="section-title">Listening</h1>

  {% if listeningPosts and listeningPosts.length %}
    <ul class="site-list-of-posts">
      {% for post in listeningPosts %}
        <li class="site-list-of-posts-item">
          <div class="site-list-link">
            <a href="{{ post | localPostUrl }}">{{ post.title }}</a>
          </div>
          <time class="site-list-date" datetime="{{ post.published_at | htmlDateString }}">
            {{ post.published_at | dateDisplay }}
          </time>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No listening entries yet.</p>
  {% endif %}
</section>
