---
layout: base
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "/{{ post.slug }}/index.html"
---

{% block content %}
<article class="post-content">
    <h1>{{ post.title }}</h1>
    {{ post.html | safe }}
</article>
{% endblock %}

