---
layout: base
permalink: /contact/index.html
title: Contact
description: "Get in touch with Bryan."
---

<article class="content content-page h-entry">
  <header class="post-header">
    <h1 class="content-title">
      <a class="p-name u-url" href="{{ page.url }}">Contact</a>
    </h1>
  </header>

  <section class="post-full-content">
    <div class="content-body e-content">
      <p>You can send me a note here.</p>
      <script data-letterbirduser="bryan" src="https://letterbird.co/embed/v1.js"></script>
    </div>
  </section>
</article>
