---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
{%- from "feed-helpers.njk" import atomFeed -%}
{{- atomFeed(site.title, site.description, site.url + page.url, site.url, collections.posts, site.url + page.url) -}}
