---
pagination:
  data: collections.posts
  size: 7
  alias: posts
---

{% extends "layouts/default.njk" %}

{% block content %}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="single-column-grid">
            {% include "partials/pagination.njk" %}
            {% for post in collections.posts %}
                {% include "partials/post-card.njk" with post %}
            {% endfor %}
            {% include "partials/pagination.njk" %}
        </div>
    </div>
</main>
{% endblock %}
