---
layout: base
title: Listening
permalink: /listening-now/
eleventyExcludeFromCollections: true
---

<section class="section-block">
  <h2 class="section-title">Listening</h2>

  <ul class="site-list-of-posts">
  {% for album in albumwhale %}
    <li class="site-list-of-posts-item h-entry">
      <time class="site-list-date dt-published" datetime="{{ album.date }}">
        {{ album.date | dateDisplay }}
      </time>

      <div>
        <a class="site-list-link p-name u-url" href="{{ album.link }}">
          {{ album.title }}
        </a>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>
