---
permalink: '_redirects'
---

# Netlify redirects file, edit with your domain
# https://www.netlify.com/docs/redirects/

/@bryan  https://urbanists.social/@bryan  302
/tags/books/  /books/  301
/tags/now-reading/  /books/  301
