---
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tags/{{ tagPage.slug }}/feed.xml"
eleventyExcludeFromCollections: true
---
{%- from "feed-helpers.njk" import atomFeed -%}
{{- atomFeed(tagPage.name + " – " + site.title, tagPage.description or ("Posts tagged " + tagPage.name), site.url + page.url, site.url, tagPage.posts, site.url + page.url) -}}
