---
layout: base
title: "Album Whale Debug"
permalink: /debug/albumwhale/
eleventyExcludeFromCollections: true
---

<h1>Album Whale Debug</h1>

<pre style="white-space: pre-wrap;">{{ albumwhale | safe }}</pre>

<h2>Keys</h2>
<pre style="white-space: pre-wrap;">
{{ albumwhale | keys | safe }}
</pre>
