<footer class="site-foot">
    <div class="site-foot-nav">
        <div class="site-foot-nav-left">
            <a class="site-foot-nav-item" href="/rss.xml">RSS</a>
            <span class="site-foot-separator">/</span>
            <a class="site-foot-nav-item" href="/@bryan">Mastodon</a>
            <span class="site-foot-separator">/</span>
            <a class="site-foot-nav-item" href="https://bsky.app/profile/afterword.blog">Bluesky</a>
            <span class="site-foot-separator">/</span>
            <a class="site-foot-nav-item" href="https://lowvelocity.org">Low Velocity</a>
        </div>
    </div>
</footer>
