<footer class="site-foot">
    <div class="site-foot-nav">
        <div class="site-foot-nav-left">
            <a class="site-foot-nav-item" href="/rss.xml">RSS</a>
            <span class="site-foot-separator">/</span>
            <a class="site-foot-nav-item" href="{{ site.url }}">{{ site.title }}</a>
        </div>
    </div>
</footer>
