<nav class="site-nav">
    {% if site.navigation %}
        <ul class="site-nav-list">
            {% for item in site.navigation %}
                <li class="site-nav-list-item">
                    <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url }}">
                        {{ item.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
