{% if pagination.previousPageHref or pagination.nextPageHref %}
    <nav class="pagination" role="navigation" aria-label="Pagination">
        <span>Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>
        {% if pagination.previousPageHref %}
            <a href="{{ pagination.previousPageHref }}" aria-label="Previous page">Prev page</a>
        {% else %}
            <span class="disabled" aria-disabled="true">Prev page</span>
        {% endif %}
        {% if pagination.nextPageHref %}
            <a href="{{ pagination.nextPageHref }}" aria-label="Next page">Next page</a>
        {% else %}
            <span class="disabled" aria-disabled="true">Next page</span>
        {% endif %}
    </nav>
{% endif %}
